.grid-container {
  display: grid;
  grid-template-areas:
    "header header header header header header"
    "left left middle middle right right"
    "footer footer footer footer footer footer";

}

.left,
.middle,
.right {
  padding: 10%;
  height: 30%; 
}

.left {
  grid-area: left;
}

.middle {
  grid-area: middle;
}

.right {
  grid-area: right;
}
  
  body{
   
   background-color: black;
   background-image: url("shiny.jpg");
   background-size: 100% 100%;
   background-attachment: scroll;
   background-repeat: no-repeat;
  }
  .column{
      column-count: 3;
      column-gap: 15%;
      column-span: all;
  }
    @media screen and (max-width: 600px) {
      .column {
        display: inline;
        width: 100%;
      }
    }
    img {
      border-radius: 8px;
        width: 50%;
        height: 50%;
        margin-bottom: 2%;
        margin-top: 1%;
      }
      footer{
        text-align: center;
      }
      table,
      td,
      th {
        border: 100% solid #1d243d;
        outline: solid 1px;
        margin: auto;
        padding: 20px;
        text-align: center;
      }
      #bordeRedondo {
        border-radius: 30px 30px 30px 30px;
        background: pink;
        padding: 20px;
        width: 200px;
        height: 150px;
      }
      #borderbottom {
        border-bottom-width: thin;
        border-bottom-style: solid;
        border-bottom-color: #1d243d;
        padding: 10px;
      }
    
      tr:nth-child(even) {background-color: #bde3f1;}
      p {outline-color:#1d243d;}
      p.solid {outline-style: solid;}
      a:hover {
      background-color: #7993f0;
}
