
.contenedor{
  position: relative;
  text-align: center;
}

.centrado{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body{
 
   background-color: black;
   background-image: url("gradiente.jpg");
   background-size: 100% 100%;
   background-attachment: scroll;
   background-repeat: no-repeat;
}
.column{
    column-count: 3;
    column-gap: 15%;
    
}

  @media screen and (max-width: 600px) {
    .column {
      display: inline;
      width: 100%;
    }
  }
  img {
    border-radius: 8px;
      width: 90%;
      height: 80% auto;
    }
    .invertido{
      -webkit-box-reflect:below;
    }
    footer{
      text-align: center;
    }

    tr:nth-child(even) {background-color: #bde3f1;}
    p {outline-color:#1d243d;}
    p.solid {outline-style: solid;}
    a:hover {
    background-color: #7993f0;
  }