  body{
   background-image: url(rayquaza.png);
   background-color: black;
   background-size: 100% 100%;
   background-attachment: scroll;
   background-repeat: no-repeat;
  }
  .column{
      column-count: 3;
      column-gap: 15%;
      column-span: all;
  }
  
  .texto{
    color:black;
  }
 
    @media screen and (max-width: 600px) {
      .column {
        display: inline;
        width: 100%;
      }
    }
    footer{
      text-align: center;
    }

      
      tr:nth-child(even) {background-color: #bde3f1;}
      p {outline-color:#1d243d;}
      p.solid {outline-style: solid;}
      a:hover {
      background-color: #7993f0;
}
