
  .column{
    column-count: 3;
    column-gap: 15%;
    column-span: all;
}
.contenedor{
  position: relative;
  text-align: center;
}

.centrado{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

