
.contenedor{
  position: relative;
  text-align: center;
}

.centrado{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.header{
  color: white;
  text-align: center;
  margin-bottom: 3%;
  height: 20%;
  font-size: 150%;
  font-family:"Georgia", "Georgia", Helvetica, Arial, sans-serif;
  padding: 0.00001%;
}

body{
 
   background-color: black;
   background-image: url("gradiente.jpg");
   background-size: 100% 100%;
   background-attachment: scroll;
   background-repeat: no-repeat;
}
.column{
    column-count: 3;
    column-gap: 15%;
    
}

.texto{
  /*color:rgb(229, 233, 30);*/
  color: black;
  text-align: center;
  text-decoration:none;
  font-weight:20%;
  font-size:100%;
  font-family:"Verdana", "Verdana", Helvetica, Arial, sans-serif;
  letter-spacing:10%;
}
.tablas{
  color: white;
  text-align: center;
  text-decoration:none;
  font-weight:20%;
  font-size:100%;
  font-family:"Verdana", "Verdana", Helvetica, Arial, sans-serif;
  letter-spacing:10%;
}
/*@media screen and (max-width: 992px) {
    .column {
      width: 50%;
    }
  }*/
  #menu {
    text-align: center;
    height: 20%;  
    width: 100%;
  }
  
  #menu ul {
    list-style:none;
    margin:0;
    padding:0;
    list-style-type: none;
    background-color:rgb(197, 165, 24);
  }
  #menu ul li {

    margin:1%;
    padding:1%;
    
  }
  
  #menu ul a {
    color:#fff;
    text-decoration:none;
    font-weight:20%;
    font-size:100%;
    font-family:"Georgia", "Georgia", Helvetica, Arial, sans-serif;
    text-transform:uppercase;
    letter-spacing:10%;
  }
 
  #menu ul li:hover {
    background:rgb(10, 102, 133) ;
    padding: 1%;
  }
  /* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      display: inline;
      width: 100%;
    }
  }
  img {
    border-radius: 8px;
      width: 90%;
      height: 80% auto;
    }
    .invertido{
      -webkit-box-reflect:below;
    }
    footer{
      text-align: center;
    }
    table,
    td,
    th {
      border: 100% solid #1d243d;
      outline: solid 1px;
      margin: auto;
      padding: 20px;
      text-align: center;
    }
    #bordeRedondo {
      border-radius: 0px 0px 30px 5px;
      background: white;
      padding: 20px;
      width: 200px;
      height: 150px;
    }
    #borderbottom {
      border-bottom-width: thin;
      border-bottom-style: solid;
      border-bottom-color: #1d243d;
      padding: 10px;
    }
    h1 {
      border: 0.1px solid #c1caec;
      outline: #1d243d solid 2px;
      margin: auto;
      padding: 20px;
      background-color: #385ab9;
      text-align: center;
      border-radius: 15px 15px 15px 15px;
      padding: 10px;
      width: 100%;
      height: 100%;

    }
    tr:nth-child(even) {background-color: #bde3f1;}
    p {outline-color:#1d243d;}
    p.solid {outline-style: solid;}
    a:hover {
    background-color: #7993f0;
}
a:visited {
color: #1d243d;
}